* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
}
.main {
	padding: 3rem;
	background-color: lightgray;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	border-collapse: collapse;
}

input[type="button"] {
	width: 100%;
	padding: 20px 40px;
	background-color: #212121;
	color: white;
	font-size: 24px;
	font-weight: bold;
	border: none;
}

input[type="text"] {
	padding: 20px 30px;
	font-size: 24px;
	border: none;
}
table tr td:last-child input {
	background-color: #757575;
}
